<h1>User Details</h1>

<table class="table table-bordered">
  <tr>
    <td>Email & Login</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td>Roles</td>
    <td><%= @user.print_roles %></td>
  </tr>
</table>

<div class="show-action-options">
  <%= action_link(edit_user_path(@user), 'pencil', 'edit user') %>
  <%= action_link(edit_password_user_path(@user), 'shield-lock', 'change password') %>
  <% if policy(@user).destroy? %>
    <%= action_link_delete(user_path(@user)) %>
  <% end %>
</div>