<%= form_with(model: campaign, local: true, multipart: true) do |f| %>
  <% fi = FormItem.new(f) %>

  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h3>There were errors:</h3>
      <ul>
        <% campaign.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= fi.file_upload('email_data', accept: '.csv') %>
  <%= fi.select(:email_template_id,
                select_items: EmailTemplate.options_for_select,
                prompt: 'Select Template') %>

  <div class="submit-line">
    <%= fi.submit('submit') %>
    <%= link_to 'cancel', campaigns_path, class: 'cancel-link' %>
  </div>
<% end %>