<h1>Email Template</h1>

<h3><%= @email_template.name %></h3>

<ul class="list-group">
  <li class="list-group-item active">Subject: <%= @email_template.subject %></li>
  <li class="list-group-item">
    <pre><%= @email_template.message %></pre>
  </li>
</ul>

<div class="show-action-options">
  <%= action_link(edit_email_template_path(@email_template), 'pencil', 'edit template') %>
  <%= action_link_delete(email_template_path(@email_template)) %>
</div>
